* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-space {
  position: relative;
}
.main-space .pad-canvas-area {
  width: fit-content;
  float: left;
}
.main-space .pad-canvas-area canvas {
  border: 1px solid #c0c0c0;
  position: absolute;
  left: 0;
  top: 0;
}
.main-space .tele-canvas-area {
  position: relative;
}
.main-space .tele-canvas-area canvas {
  position: absolute;
  border: 1px solid #c0c0c0;
  left: 0;
  top: 0;
}
.main-space canvas.sub {
  position: absolute;
  text-align: center;
  opacity: 0.7;
}
.main-space canvas.sub.selected {
  border: 2px solid red;
  opacity: 1;
}
.main-space .sublab {
  position: absolute;
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 1pt;
  /* background-color: #a0a0ff; */
}
.slidecontainer {
  float: left;
}
.slidecontainer .slide-element {
  float: left;
  width: 25%;
}
.slidecontainer .slide-element .label {
  display: inline-block;
  width: 80px;
}
.slidecontainer .slide-element.row1 {
  width: 20%;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
.slidecontainer .slide-element.cright {
  clear: right;
}
.slidecontainer .slide-element.cleft {
  clear: left;
}
.slidecontainer .slide-element.vel,
.slidecontainer .slide-element.acc {
  display: none;
}
